body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-page);
  overflow-x: hidden;
}
:root {
  --color-header: #1e293b;
  --color-page: #1a202c;
  --text-secondary: #cbd5e1;
}
iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}
.grid1 {
  display: grid;
  grid-template-areas:
    "link header header header header"
    "link  change change change change "
    "link  change change change change ";
  grid-template-rows: 15% 85%; /* header 30%, important 70% */
  gap: 0;
  width: 100vw;
  height: 100vh;
}
input {
  width: 10rem;
  height: 3rem;
  background-color: rgba(255, 0, 0, 0);
  border: none;
}
input:focus {
  border: none;
}
.links {
  grid-area: link;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  align-items: stretch;
  row-gap: 0.5rem;
  overflow-y: scroll;
}
.links div {
  color: grey;
  align-self: stretch;
  margin: 20px;
  font-size: 20px;
}
div.link i {
  border: none;
}
.header {
  grid-area: header;
  display: flex;
  border-bottom: 2px solid black;
  /* height: 30%;  <-- Remove this */
  align-items: center;
  gap: 10px;
  margin: 0 10px;
}
.beautiful-input {
  border: 3px solid transparent;
  background-color: #cbd5e1;
}

div.link {
  transition: tansform 3s linear;

  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}
a {
  text-decoration: none;
  font-size: 25px;
  color: var(--text-secondary);
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-page);
  border-radius: 10px;
  height: 10px;
}
div.link {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
div.link:hover {
  transform: scale(1.05);
  background-color: blue;
}
div.link:active {
  background-color: blue;
}
i {
  border: 3px solid var(--text-secondary);
  border-radius: 50%;
  font-size: 2rem;
  padding: 5px;
}

/* place of the DAHboard */
.important {
  grid-area: change;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
  grid-auto-rows: auto;
  /* width: 100%; */
  /* height: 100%; <-- Remove this */
}
.grid2 {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 4%; */
}
.dash1 {
  grid-column: 1 / -1;
}
.dash2 {
  grid-column: 1 / span 4;
  display: contents;
}

.dash3 {
}
.dash4 {
}
.dash5 {
}
.dash6 {
}
