body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
      to right bottom,
      rgb(218, 19, 218),
      rgb(22, 22, 174)
    )
    no-repeat fixed;
}
.origin {
  background-color: antiquewhite;
  margin: 300px auto auto;
  text-align: center;
  width: 500px;
  border: 5px solid black;
  padding: 40px;
  border-radius: 20px;
}
div input {
  border: none;
  background-color: none;
  border-radius: 10px;
  outline: none;
  height: 40px;
}
.t3houm {
  background-color: red;
  display: inline-block;
  border: 3px solid rgba(0, 0, 0, 0.585);
  border-radius: 10px;
  position: relative;
}
div button {
  border: none;
  background-color: crimson;
  position: absolute;
  right: 0;
  height: 40px;
}
